.Rectangle5 {
  width: 260px;
  height: 32px;
  padding: 9px 12px 8px 14px;
  border-radius: 2px;
  background-color: #fff;
}

.Fill7 {
  width: 12px;
  height: 13px;
  margin: 0 2px 0 0;
  background-color: #1ea1f7;
}


.Fill9 {
  width: 12px;
  height: 13px;
  margin: 0 0 0 2px;
  background-color: #1ea1f7;
}

.Fill12 {
  width: 4px;
  height: 4px;
  margin: 11px 26px 0 118px;
  background-color: #1ea1f7;
}


.span {
  width: 86px;
  height: 15px;
  margin: 0 118px 0 0;
  font-family: AppleSDGothicNeo;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #727272;
}